@import url("./reset.css");
@import url("./variables.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    margin: 2em 1.5em;
}
    

h1,
h2,
h3 {
    font-family: var(--header-font);
    font-weight: 500;
    text-align: center;
}

h2 {
    margin: 1em 0;
}

h2,
h3 {
    text-align: center;
}

.logo-wrapper {
    margin: 1.4em 0 1em .5em;
}

.logo-img {
    width: 28px;
}

.logo {
    font-family: var(--header-font);
    font-weight: 500;
    color: var(--primary-color);
    align-items: center;
    gap: .5em;
}

.hero {
    position: relative;
}

.slogan {
    position: absolute;
    margin: auto;
    bottom: 0;
    padding: .5em 0 .5em 1.5em;
    color: var(--color-white);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-transform: uppercase;
    
}

/* molecul */

.molecul-container {
   justify-content: center;
   margin-bottom: 2em;
}

.molecul {
    width: 40px;
}

img {
    width: 100%;
    display: block;
}

.height {
    max-height: 230px;
    object-fit: cover;
}

.bg-primary {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.bg-yellow {
    background-color: var(--yellow-tint);
}

.bg-green {
    background-color: var(--green-tint);
}

.bg-blue {
    background-color: var(--blue-tint);
}


.flex {
    display: flex;
}

nav a {
    color: var(--color-white);
    text-transform: uppercase;
}

nav {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mobile-nav {
    display: none;
}

.navigation {
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 1em;
}

.introduction-banner h1 {
    color: var(--color-white);
    background-color: var(--primary-color);
    padding: .4em 0;
}

.introduction-banner img {
    height: 280px;
    object-fit: cover;
}

article {
    margin: 2.5em 0;
}

.article-doodle,
.content-simple p{
   padding-bottom: 1.5em;
}

.content-colored {
    margin: 1em 0;
}

.content-colored h3 {
    padding: 1em;
}

.content-colored h2 {
    padding-top: 1em;
}

.content-colored p {
    padding: 0 1.5em 1.5em 1.5em;
}


.opening-hours {
    max-width: 250px;
    margin: 0 auto;
}

.opening-hours > * {
    justify-content: space-between;
}

.explore {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
}

.imga {
    aspect-ratio: 16/13;
    object-fit: cover;
}

.explore-wrap {
    gap: 0.5em;
}

.explore h3 {
    text-align: center;
    padding: .5em;
}

.for-kids h3 {
    background-color: var(--yellow-tint);
}

.for-teachers h3 {
    background-color: var(--green-tint);
}

.researchers h3 {
    background-color: var(--blue-tint);
}

.btn-link-container {
    text-align: center;
}

.cta-btn {
    display: block;
    margin: 3em auto 3em auto;
}

.btn-link {
    display: inline-block;
    margin: 1em auto 1em auto;
}

.btn-link,
.cta-btn {
    text-align: center;
    border: 1.5px solid var(--primary-color);
    font-family: var(--header-font);
    color: var(--primary-color);
    background-color: var(--color-white);
    font-weight: 500;
    padding: .5em 1em;
}

.cta-btn:hover,
.btn-link:hover {
    border: 1.5px solid var(--blue-tint);
    background-color: var(--blue-tint);
}

.cta-btn:active,
.btn-link:active {
    border: 1.5px solid var(--green-tint);
    background-color: var(--green-tint);
}




.hidden {
    display: none;
}

.text-centered {
    text-align: center;
}




/* footer */

footer {
    background-color: var(--primary-color);
}

.footer-container {
    color: var(--color-white);
    text-align: center;
    padding: 1.5em;
    display: grid;
    gap: 2em;
}

.map {
    max-height: 180px;
    object-fit: cover;
}

.social-icon {
    width: 50px;
}

.social {
    justify-content: space-evenly;
    margin: 1.5em 0;
}

.newsletter {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
}

.submit {
    font-size: .9rem;
    border: none;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: var(--color-white);
    font-size: .8rem;
    margin: 2em auto;
}

/*  modal  */

    
.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border: 1px solid var(--modal-clr);
    border-radius: 0.5em;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 30em;
    padding: 1.5em;
    margin: 0 auto;    
}

.modal h2 {
    color: var(--primary-color);
}

.btn-close {
    display: block;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--modal-clr); 
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    
}

form input {
    border: none;
    border-radius: 0;
    font-size: 1em;
    border-bottom: 1px solid var(--modal-clr);
    margin-bottom: 1em;
    padding-top: .5em;
}

.modal label {
    color: var(--modal-clr);
}
.modal textarea {
    border: 1px solid var(--modal-clr);
}

.send-btn {
    font-family: var(--header-font);
    display: inline-block;
    margin: 1em auto;
    background-color: #F46C2D;
    color: var(--color-white);
    letter-spacing: .8px;
    border: none;
    font-size: 1rem;
    padding: .5em 2.5em;
}






















@media (max-width: 35em) {
    .navigation {
        position: fixed;
        z-index: 9998;
        inset: 5em 0 0 0;
        padding: 3rem 2rem;
        text-align: right;
        flex-direction: column;
        gap: 1.4em;
        transform: translateX(200%);
        transition: transform 350ms ease-out;
        background-color: var(--primary-color);
    }

    .navigation[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav {
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url("../assets/icons/menu.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        padding: 0;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.4em;
        right: 1em;
    }

    .mobile-nav[aria-expanded="true"] {
        background-image: url("../assets/icons/close.svg");
        background-size: cover;
        background-color: transparent;
    }
}





