@import url("./reset.css");
@import url("./variables.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-container {
    margin: 0 1em;
}

h1,
h2,
h3 {
    font-family: var(--header-fonts);
    font-weight: 500;
}

h2,
h3 {
    text-align: center;
}

.wrap {
    margin: 1.4em 0 1em .5em;
}

.logo-img {
    width: 28px;
}

.logo {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    align-items: center;
    gap: .5em;
}

.hero {
    position: relative;
}

.slogan {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: .5em 0 .5em 3em;
    color: var(--color-white);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-transform: uppercase;
    
}

.molecul {
    width: 30px;
}

.right {
    float: right;
}

.left {
    float: left;
}

img {
    width: 100%;
    display: block;
}

.height {
    max-height: 230px;
    object-fit: cover;
}

.background-primary {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.background-yellow {
    background-color: var(--yellow-tint);
}

.background-green {
    background-color: var(--green-tint);
}

.background-blue {
    background-color: var(--blue-tint);
}


.flex {
    display: flex;
}

nav a {
    color: var(--color-white);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mobile-nav {
    display: none;
}

.navigation {
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 1em;
}

.opening-hours {
    max-width: 250px;
    margin: 0 auto;
}

.opening-hours > * {
    justify-content: space-between;
}

.explore {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
}

.imga {
    aspect-ratio: 16/13;
    object-fit: cover;
}

.explore-wrap {
    gap: 0.5em;
}

.explore h3 {
    text-align: center;
    padding: .5em;
}

.for-kids h3 {
    background-color: var(--yellow-tint);
}

.for-teachers h3 {
    background-color: var(--green-tint);
}

.researchers h3 {
    background-color: var(--blue-tint);
}

.btn-link {
    display: block;
    text-align: center;
    margin: 2em auto;
    border: 1.5px solid var(--primary-color);
    font-family: var(--header-fonts);
    color: var(--primary-color);
    font-weight: 500;
    padding: .5em 1em;
}

.btn-link:hover {
    border: 1.5px solid var(--blue-tint);
    background-color: var(--blue-tint);
}

.btn-link:active {
    border: 1.5px solid var(--green-tint);
    background-color: var(--green-tint);
}

footer {
    background-color: var(--primary-color);
}

.footer-container {
    color: var(--color-white);
    text-align: center;
    padding: 1.5em;
    display: grid;
    gap: 2em;
}

.map {
    max-height: 180px;
    object-fit: cover;
}

.social-icon {
    width: 50px;
}

.social {
    justify-content: space-evenly;
    margin: 1.5em 0;
}

.newsletter {
    border: none;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
}

.submit {
    border: none;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: var(--color-white);
    font-size: .8rem;
    margin: 2em auto;
}
    
























@media (max-width: 35em) {
    .navigation {
        position: fixed;
        z-index: 9998;
        inset: 5% 0 0 0;
        padding: 4rem 2rem;
        text-align: right;
        flex-direction: column;
        transform: translateX(200%);
        transition: transform 350ms ease-out;
    }

    .navigation[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav {
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url("../assets/icons/menu.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        padding: 0;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.4em;
        right: 1em;
    }

    .mobile-nav[aria-expanded="true"] {
        background-image: url("../assets/icons/close.svg");
        background-size: cover;
        background-color: transparent;
    }
}





