@import url("./reset.css");
@import url("./variables.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content-container {
    margin: 2em 1.5em;
}
    

h1,
h2,
h3 {
    font-family: var(--header-font);
    font-weight: 500;
    text-align: center;
}

h2 {
    margin: 1em 0;
}

h2,
h3 {
    text-align: center;
}

.logo-wrapper {
    margin: 1.4em 0 1em .5em;
}

.logo-img {
    width: 28px;
}

.logo {
    font-family: var(--header-font);
    font-weight: 500;
    color: var(--primary-color);
    align-items: center;
    gap: .5em;
}

.hero {
    position: relative;
}

.hero-img {
    object-fit: cover;
    aspect-ratio: 1;
}




.slogan {
    position: absolute;
    margin: auto;
    bottom: 0;
    padding: .5em 0 .5em 0;
    color: var(--color-white);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-transform: uppercase;
}

.scroller {
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 2em;
    margin: 1.5em auto 0 auto;
    overflow: hidden;
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

.scroller > * {
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 1.1rem;
    display: block;
    white-space: nowrap;
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(35s / 4 * (4 - 1) * -1);
    color: #A52908;
}

.item2 {
    animation-delay: calc(35s / 4 * (4 - 2) * -1);
    color: #C93008;
}   

.item3 {
    animation-delay: calc(35s / 4 * (4 - 3) * -1);
    color: #ED3706;
}    

.item4 {
    animation-delay: calc(35s / 4 * (4 - 4) * -1);
    color: #FB4A1B;
}







/* molecul */

.molecul-container {
   justify-content: center;
   margin-bottom: 2em;
}

.molecul {
    width: 40px;
}

img {
    width: 100%;
    display: block;
}

.height {
    max-height: 230px;
    object-fit: cover;
}

.bg-primary {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.bg-yellow {
    background-color: var(--yellow-tint);
}

.bg-green {
    background-color: var(--green-tint);
}

.bg-blue {
    background-color: var(--blue-tint);
}


.flex {
    display: flex;
}

nav a {
    color: var(--color-white);
    text-transform: uppercase;
}

nav {
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mobile-nav {
    display: none;
}

.navigation {
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 1em;
}

.introduction-banner h1 {
    color: var(--color-white);
    background-color: var(--primary-color);
    padding: .4em 0;
}

.introduction-banner img {
    height: 280px;
    object-fit: cover;
}

article {
    margin: 2.5em 0;
}

.article-doodle,
.content-simple p{
   padding-bottom: 1.5em;
}



.content-img {
    margin: 1em 0;
}

.content-img h3 {
    padding: 1em;
}

.content-img p {
    padding-bottom: 1.5em;
}


.clr-background {
    margin: 1em 0;
}

.clr-background h3 {
    padding: 1em;
}

.clr-background h2 {
    padding-top: 1em;
}

.clr-background p {
    padding: 0 1.5em 1.5em 1.5em;
}








.opening-hours {
    max-width: 250px;
    margin: 0 auto;
}

.opening-hours > * {
    justify-content: space-between;
}

.explore {
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
}

.imga {
    aspect-ratio: 16/13;
    object-fit: cover;
}

.explore-wrap {
    gap: 0.5em;
}

.explore h3 {
    text-align: center;
    padding: .5em;
}

.for-kids h3 {
    background-color: var(--yellow-tint);
}

.for-teachers h3 {
    background-color: var(--green-tint);
}

.researchers h3 {
    background-color: var(--blue-tint);
}

.btn-link-container {
    text-align: center;
}

.cta-btn {
    display: block;
    margin: 3em auto 3em auto;
}

.btn-link {
    display: inline-block;
    margin: 1em auto 1em auto;
}

.btn-link,
.cta-btn {
    text-align: center;
    border: 1.5px solid var(--primary-color);
    font-family: var(--header-font);
    color: var(--primary-color);
    background-color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    padding: .5em 1em;
}

.cta-btn:hover,
.btn-link:hover {
    border: 1.5px solid var(--blue-tint);
    background-color: var(--blue-tint);
}

.cta-btn:active,
.btn-link:active {
    border: 1.5px solid var(--green-tint);
    background-color: var(--green-tint);
}




.hidden {
    display: none;
}

.text-centered {
    text-align: center;
}




/* footer */

footer {
    background-color: var(--primary-color);
}

.footer-container {
    color: var(--color-white);
    text-align: center;
    padding: 1.5em;
    display: grid;
    gap: 2em;
}

.map {
    max-height: 180px;
    object-fit: cover;
}

.social-icon {
    width: 50px;
}

.social {
    justify-content: space-evenly;
    margin: 1.5em 0;
}

.newsletter {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
}

.submit {
    font-size: 1.5rem;
    border: none;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: var(--color-white);
    font-size: .8rem;
    margin: 2em auto;
}

/*  modal  */

    
.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border: 1px solid var(--modal-clr);
    border-radius: 0.5em;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 30em;
    padding: 1.5em;
    margin: 0 auto;    
}

.modal h2 {
    color: var(--primary-color);
}

.btn-close {
    display: block;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--modal-clr); 
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    
}

form input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--modal-clr);
    margin-bottom: 1em;
    padding-top: .5em;
}

.modal label {
    color: var(--modal-clr);
}
.modal textarea {
    border: 1px solid var(--modal-clr);
    padding: 1em;
}

form input,
.modal textarea {
    font-family: var(--paragraph-font);
    font-size: 1em;
}

.send-btn {
    font-family: var(--header-font);
    display: inline-block;
    margin: 1em auto;
    background-color: #F46C2D;
    color: var(--color-white);
    letter-spacing: .8px;
    border: none;
    font-size: 1rem;
    padding: .5em 2.5em;
}







