

@media (max-width: 40em) {
    .navigation {
        position: fixed;
        z-index: 9998;
        inset: 4em 0 0 0;
        padding: 3rem 2rem;
        text-align: right;
        flex-direction: column;
        gap: 1.4em;
        transform: translateX(200%);
        transition: transform 350ms ease-out;
        background-color: var(--primary-color);
    }

    .navigation[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav {
        display: block;
        position: absolute;
        z-index: 9999;
        background-image: url("../assets/icons/menu.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        padding: 0;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.4em;
        right: 1em;
    }

    .mobile-nav[aria-expanded="true"] {
        background-image: url("../assets/icons/close.svg");
        background-size: cover;
        background-color: transparent;
    }
}


@media (min-width: 39em) {

    .logo {
        justify-content: center;
    }

    body {
        font-size: 18px;
    }

    .navigation {
        max-width: var(--max-width);
        margin: 0 auto;
        justify-content: space-around;
        padding: 1em ;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .active {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .hero-img {
        aspect-ratio: 0;
        max-height: 480px;
    }

    .slogan {
        font-size: 2rem;
    }

    h2 {
        margin: .8em 0;
    }

    .scroller {
        max-width: var(--max-width);
    }

    .scroller span {
        font-size: 1.3rem;
    }

    .item1 {
        animation-delay: calc(35s / 5 * (5 - 1) * -1);
    }
    
    .item2 {
        animation-delay: calc(35s / 5 * (5 - 2) * -1);   
    }   
    
    .item3 {
        animation-delay: calc(35s / 5 * (5 - 3) * -1);
    }    
    
    .item4 {
        animation-delay: calc(35s / 5 * (5 - 4) * -1);
    }

    .item5 {
        animation-delay: calc(35s / 5 * (5 - 5) * -1);
    }

    .content-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .content-container-wide {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    #kids,
    #teachers {
       scroll-margin-top: 2em; 
    }

    .researchers img {
        aspect-ratio: 16/12.8;
        object-fit: cover;
    }

    .hidden {
        display: block;
    }

    .flex {
        display: flex;
    }

    .flex-right {
       justify-content: flex-end;
    }

    .flex-center {
       justify-content: center;
    }

    .molecule-header {
        position: relative;
        margin: 3em 0 3em 0;
        
    }

    .molecule-container-left,
    .molecule-container-right {
        position: absolute;
    }

    .molecule-container {
        justify-content: center;
    }

    .molecul-container-left {
        top: 0;
        left: 0;
    }

    .molecule-container-right {
        top: 0;
        right: 0;
    }

    .molecule {
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
    }

    .yellow {
        background-image: var(--molecule-yellow);
    }

    .green {
        background-image: var(--molecule-green);
    }

    .blue {
        background-image: var(--molecule-blue);
    }

    .molecul {
        width: 50px;
    }

    .introduction-banner {
        max-width: var(--max-width);
        margin: 1.5em auto;
        display: flex;
    }

    .introduction-banner > * {
        flex: 1;
    }
    
    .center,
    .introduction-text {
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    

    .opening-hours {
        font-size: 16px;
        max-width: var(--max-width);
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .opening-hours > * {
        flex-direction: column;
    }

    .weekday {
        font-family: var(--header-font);
        font-weight: 500;
        padding-bottom: .5em;
    }

    .explore {
        flex-wrap: nowrap;
    }

    .future-events {
        font-size: 1.6rem;
    }

    .btn-link,
    .cta-btn {
        font-size: 1.1rem;
        padding: .7em 1.5em;
    }

    .cta-btn {
        margin: 1em auto 3em auto;
    }


    .clr-background,
    .content-img {
        display: flex;
    }
    
    .clr-background > *,
    .content-img > * {
        flex: 1;
    }

    .content-img h2 {
        padding: 0;
    }
    
    .clr-background img,
    .content-img img {
        object-fit: cover;
    }

    .clr-background-text h2 {
        padding-top: 0;
    }

    .clr-background-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    .reverse {
        flex-direction: row-reverse;
    }

    .gap {
        gap: 1em;
    }

    .article-doodle {
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }

    .text-right {
        padding-left: 1.5em;
   
    }

    .text-left {
        padding-right: 1.5em;
    }


   footer {
    margin-top: 2.5em;
   }

   .footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-areas: 
       "social map location";
    align-items: center;
   }

   .social-container {
    grid-area: social;
   }

   .location {
    grid-area: location;
   }

   .map-img {
    grid-area: map;
   }

   .social {
    margin-bottom: 1.8em;
   }

}