:root {
    --max-width: 1000px;
    --primary-color: #123F64;
    --color-white: #FFFFFF;
    --yellow-tint: #EDC97D;
    --bright-yellow: #F5C85A;
    --green-tint: #BADE78;
    --blue-tint: #A0CCFD;
    --orange-tint: #F46C2D;
    --table-color: #8AC4D0;
    --modal-clr: #898686;
    --header-font: "Poppins", Arial, Helvetica, sans-serif;
    --paragraph-font: "Nunito",  Arial, Helvetica, sans-serif;
}